@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scroll-behavior: smooth;
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    "Noto Sans",
    "Liberation Sans",
    Arial,
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
  padding: 0;
  box-sizing: border-box;
}

.login-page {
  background-image: url("../../public/images/login.gif");
  background-repeat: no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: #fb8c00;
  border-radius: 3px;
}

.hero-page {
  background-clip: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
